body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
form {
    display: inline-block;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="submit"] {
    padding: 5px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
    margin: 5px 0;
}
thead{ font-weight: bold; }
th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #1c1818;
    font-weight: normal;
}
th {
    background-color: #f2f2f2;
}
h1, h2 {
    text-align: center;
}
tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }
tr:hover            { background-color: #77bfe9;}
.out{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
[class ^="con_"]{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}